<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ITC357-assignment2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Validator</display-name>
    <servlet-name>Validator</servlet-name>
    <servlet-class>Validator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Validator</servlet-name>
    <url-pattern>/Validator</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewMessageList</display-name>
    <servlet-name>ViewMessageList</servlet-name>
    <servlet-class>ViewMessageList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewMessageList</servlet-name>
    <url-pattern>/ViewMessageList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PostMessage</display-name>
    <servlet-name>PostMessage</servlet-name>
    <servlet-class>PostMessage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PostMessage</servlet-name>
    <url-pattern>/PostMessage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageReader</display-name>
    <servlet-name>ImageReader</servlet-name>
    <servlet-class>ImageReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageReader</servlet-name>
    <url-pattern>/image/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageUploader</display-name>
    <servlet-name>ImageUploader</servlet-name>
    <servlet-class>ImageUploader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageUploader</servlet-name>
    <url-pattern>/ImageUploader</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchList</display-name>
    <servlet-name>SearchList</servlet-name>
    <servlet-class>SearchList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchList</servlet-name>
    <url-pattern>/SearchList</url-pattern>
  </servlet-mapping>
</web-app>